@model HorizonSite.Models.Film

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Film</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Genre.NameGenre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre.NameGenre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameFilm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameFilm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Picture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Picture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IMDBRatffing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IMDBRatffing)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RottenRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RottenRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LinkTriller)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LinkTriller)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FilmId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
